.container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: #fff;
	gap: 10px;
	
}

.card {
	width: 30%;
	background-color: #a2c579;
	color: #fff;
	cursor: auto;
}

.card-content {
	display: flex;
	justify-content: space-between;
}

.datatable {
    margin-top: 50px;
}

.btn-hapus-jenis-small {
	display: none;
}

@media screen and (max-width: 703px) {
	.container {
		flex-direction: column;
	}
	.card {
		width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.card-content {
		justify-content: center !important;
		flex-direction: column;
	}

	.icon {
		display: none !important;
	}
}

@media screen and (max-width: 1336px) {
	.btn-hapus-large {
		display: none;
	}
	.btn-hapus-jenis-small {
		display: inline-block;
		font-size: 1rem;
	}
}
