.btn-submit {
    display: flex;
    justify-content: end;
}

.datatable {
    margin-top: 50px;
}

.btn-hapus-inventaris-small {
    display: none;
}

@media screen and (max-width: 1683px) {
    .btn-hapus-inventaris-large {
        display: none;
    }

    .btn-hapus-inventaris-small {
        display: inline;
        font-size: 1rem;
    }

}