@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #242424;
}

.content {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.content::-webkit-scrollbar {
	display: none;
}

.sidebar-app {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.sidebar-app::-webkit-scrollbar {
	display: none;
}


.empty-message {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}